{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{% block body %}

<h1>{{hw}}</h1>
<h3>Ich wünsche Ihnen einen schönen {{day}} </h3>
<p>Hi -Testing- </p>

{% endblock %}
